@import "./../../variables.scss";
$offset: 80px;

.image-text-block {
  margin-top: 160px;
  margin-bottom: 160px;

  .image-text-block__content {
    position: relative;
    display: flex;
    &-left {
      flex-direction: row;
    }
    &-right {
      flex-direction: row-reverse;
    }

    .background {
      background-color: $primary-background-color;

      position: absolute;
      bottom: 0;
      top: 0;
      &__style1-right {
        left: -$offset;
        right: $offset;
      }
      &__style1-left {
        left: $offset;
        right: -$offset;
      }
      &__style2-left {
        left: 400px;
        right: -$offset;
      }
      &__style2-right {
        left: -$offset;
        right: 400px;
      }
      &__style3-right,
      &__style3-left {
        left: -$offset;
        right: -$offset;
      }
      &__style4-right {
        left: 250px;
        right: -$offset;
      }
      &__style4-left {
        left: -$offset;
        right: 250px;
      }
    }

    .media-container {
      position: relative;
      top: -$offset;
      .action-container {
        position: absolute;
        bottom: -50px;
        &__left {
          left: 0;
        }
        &__right {
          right: 0;
        }
      }
    }

    .media {
      position: relative;
      overflow: hidden;
      z-index: 100;
      flex-shrink: 0;
      &__style1-right,
      &__style4-right {
        width: 700px;
        height: 400px;
      }
      &__style1-left,
      &__style4-left {
        width: 700px;
        height: 400px;
        left: 0;
      }
      &__style2-right {
        width: 860px;
        height: 430px;
      }
      &__style2-left {
        width: 860px;
        height: 430px;
        left: 0;
      }
      &__style3-left {
        width: 600px;
        height: 600px;
        left: 0;
      }
      &__style3-right {
        width: 600px;
        height: 600px;
      }

      .video-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: center;
        background-size: cover;
      }

      .play-video-button {
        position: absolute;
        width: 112px;
        height: 112px;
        border-radius: 50%;
        background-color: $primary-color;
        transition: background-color 200ms;
        &:hover {
          background-color: $hover-color;
          cursor: pointer;
        }
        &::after {
          content: "";
          display: inline-block;
          margin-left: 10px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 25px 0 25px 43.3px;
          border-color: transparent transparent transparent #ffffff;
        }
      }

      .img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .main-text-container {
      z-index: 100;
      position: relative;
      padding-top: 25px;
      min-height: 390px;
      &__right {
        padding-right: 40px;
      }
      &__left {
        padding-left: 40px;
      }
      .main-text {
        margin-bottom: 15px;
        text-align: justify;
        &__item {
          margin-bottom: 30px;
        }
        .action-element-container {
          margin-top: 50px;
          padding-bottom: 30px;
          display: flex;
          align-items: center;
          &__left {
            justify-content: flex-start;
          }
          &__center {
            justify-content: center;
          }
          &__right {
            justify-content: flex-end;
          }
        }
      }
    }
  }

  .title-container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    height: 80px;

    &__right {
      left: 0;
      text-align: left;
    }
    &__left {
      right: 0;
      text-align: right;
    }

    .title {
      font-size: 32px;
      text-transform: uppercase;
      font-weight: 600;
      line-height: 40px;
    }
  }
}
