@import '../../../variables.scss';

@mixin button-large {
    min-width: 281px;
    padding: 14px 30px;
    font-weight: 500;
    font-size: 21px;
    line-height: 26px;
}

@mixin button-medium {
    
}

@mixin button-small {
    min-width: 200px;
    padding: 15px 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.btn {
    outline: none;
    border: none;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    z-index: 20;
}

.btn-main, .btn-secondary {
    position: relative;
    color: #fff;

    &:after {
        content: "";
        left: 0;
        bottom: 0;
        background: #f9aa9b;
        display: block;
        position: absolute;
        padding-top: 20%;
        padding-bottom: 35%;
        padding-left: 100%;
        margin-top: -35%;
        opacity: 0;
        transition: all 0.7s;
    }

    &:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s
      }

    &:hover{
        background-color: $hover-color;
    }
}

.btn-main {
    @include button-large;
    background-color: $primary-color;
}

.btn-secondary {
    position: relative;
    min-width: 260px;
    padding: 10px 30px;
    font-weight: 500;
    font-size: 24px;
    line-height: 42px;
    background-color: $secondary-color;
}

.btn-form-browse {
    background-color: #E0E3F4;
    height: 69px;
    font-weight: 100;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
    align-self: center;
}

.btn-simple {
    width: 140px;
    height: 40px;
    color: #000;
    background-color: #fff;
    border: 1px solid $primary-color;
    font-weight: 500;
}

.btn-simple.active {
    color: #fff;
    background-color: $primary-color;
}

.btn-pagenotfound-back, .btn-pagenotfound-home {
    @include button-large;
    &:hover {
        background-color: $hover-color;
    }
}

.btn-pagenotfound-back {
    background-color: #fff;
    color: $primary-color;
}

.btn-pagenotfound-home {
    color: #fff;
    background-color: #061229;
    border: 1px solid #fff;
}

@media only screen and (max-width: 640px) {
    .btn-main, .btn-pagenotfound-back, .btn-pagenotfound-home {
        @include button-small;
        max-width: 220px;
    }

    .btn-secondary {
        min-width: 85px;
        padding: 10px 15px;
        font-weight: 900;
        font-size: 14px;
        line-height: 24px;
        background-color: $secondary-color;
    }
}