.constructor-colors {
  max-width: 290px;
  margin-bottom: 30px;
  .colors-title {
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  .colors-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}

.constructor-color {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  .checkbox-mark-color {
    display: none;
  }
  &.active-color {
    .checkbox-mark-color {
      display: block;
    }
  }
  &:hover {
    cursor: pointer;
  }
}