@import "../../../variables.scss";

.styled-link-container {
  padding-left: calc(100px + 18px);
}

.styled-link {
  color: #ed7161;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  justify-self: flex-end;
  &:hover {
    cursor: pointer;
  }
  &::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #ed7161;
    top: 50%;
    transform: translate(-100%, -50%);
    left: -18px;
  }
}

@media only screen and (max-width: $desktop-breakpoint) {
  .styled-link-container {
    padding-left: calc(80px + 10px);
  }

  .styled-link {
    font-size: 14px;
    &::before {
      width: 80px;
      left: -10px;
    }
  }
}
