@import "../../variables.scss";

.contacts-page {
  .contacts-header {
    background-size: cover;
  }
  .contacts-main-title {
    padding: 88px 0;
    line-height: 1.2em;
    font-size: 42px;
    font-weight: bold;
  }
  .faq-title {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .faq-intro-text {
    padding: 25px 0;
  }
  .social-links-container {
    z-index: 101;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
  }
  .social-link {
    background-color: $primary-color;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 3px white;
    &__icon {
      width: 16px;
      height: 16px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

@media only screen and (max-width: $desktop-breakpoint) {
  .contacts-page {
    .contacts-main-title {
      font-size: 32px;
      padding: 20px 0;
    }
    .faq-intro-text {
      padding: 10px 0;
    }
    .faq-title {
      font-size: 18px;
    }
    .social-links-container {
      display: none;
    }
  }
}
