@media (max-width: 1280px) {
    .options-with-tabs{ 
        margin-top: 80px;
        margin-bottom: 80px;
        .options-with-tabs-wrapper{

            h2 {
                width: 100%;
                font-size: 18px;
                line-height: 26px;
                margin-right: auto;
                margin-left: 0;
                margin-bottom: 15px;
                text-align: left;
            }

            .options-with-tabs-distributor {

                display: flex;
                flex-direction: column-reverse;
                .options-with-tabs-tabs {
                    flex-direction: column;
                    align-items: center;
    
                    .options-with-tabs-tab, .options-with-tabs-tab-active {
    
                    }
    
                    .options-with-tabs-tab {
                        margin-bottom: 20px;
                    }
                    .options-with-tabs-tab:hover {
    
                    }
                    .options-with-tabs-tab-active {
                        margin-bottom: 20px;
                    }
                }

            }


        }
        .options-with-tabs-background {
            display: none;
        }
    }
}