.location-form-section {
  position: relative;
  margin-top: 150px;
  background-position: center;
  background-size: cover;
  padding: 45px 0;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(23, 27, 48, 0.687);

  }
  &__inner {
    display: flex;
  }
  .title {
    text-transform: uppercase;
    margin-bottom: 32px;
    color: white;
  }
  .intro-text {
    margin-bottom: 23px;
    font-size: 20px;;
    text-transform: uppercase;
    line-height: 36px;
    color: white;
  }
  .form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &-container {
      z-index: 10;
      display: flex;
      flex-direction: column;
      min-width: 670px;
      padding-right: 60px;
    }
    &-field {
      width: 100%;
      padding: 10px;
      border: none;
      margin-bottom: 20px;
      &::placeholder {
        color: grey;
      }
    }
  }
  .map-img {
    z-index: 10;
  }
}
