@import '../../variables.scss';

.company-presentation {
    position: relative;
    max-width: 1440px;
    min-height: 645px;
    padding: 0px 80px;
    margin: 0px auto 110px;

    &__bg-layer {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(90, 180, 255, 0.2) 0%, rgba(90, 180, 255, 0) 100%);
        z-index: -2;
    }

    &__content {
        width: 60%;
    }

    &__title {
        font-family: Montserrat;
        font-style: normal;
        letter-spacing: 0.03em;
        color: #171A27;
        text-transform: uppercase;
    }

    .title--main {
        padding-top: 85px;
        padding-bottom: 60px;
        font-weight: bold;
        line-height: 54px;
    }

    .title--under {
        padding-top: 80px;
        padding-bottom: 60px;
        padding-bottom: 35px;
        font-weight: 600;
        line-height: 51px;
    }

    .title--align {
        width: 574px;
        padding-top: 40px;
        padding-bottom: 60px;
        font-weight: 600;
        line-height: 54px;
    }

    &__img {
        position: absolute;
        top: 50%;
        right: 80px;
        transform: translateY(-50%);
        z-index: -1;
    }

    &__info{
        max-width: 540px;
        min-height: 160px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        color: #171A27;
    }

    .f24 {
        font-size: 24px;
        line-height: 36px;
    }

    .f21 {
        font-size: 21px;
        line-height: 27px;
    }

    &__action {
        position: absolute;
        left: 35%;
        bottom: 90px;
    }
}

@media only screen and (max-width: $desktop-breakpoint) {
    .company-presentation {
        width: 100%;
        min-height: none;
        padding: 0;
        margin: 0px auto 70px;

        &__content {
            padding: 0;
            width: 100%;
        }

        &__img {
            width: 100%;
            height: auto;
            position: static;
            transform: none;
        }

        &__info{
            width: 100%;
            min-width: none;
            max-width: none;
            min-height: 40px;
            margin: 40px 0;
    
        }

        &__title, &__info {
            padding: 0 20px;
        }

        & p, & span {
            font-size: inherit;
            line-height: inherit;
            padding: 10px 0;
        }

        &__action {
            position: relative;
            left: 20px;
            bottom: 0;
        }

    }
}

@media only screen and (max-width: 979px) {
    .company-presentation {
        &__img {
            width: 100%;
            margin: 0;
        }
    }
}

@media only screen and (max-width: 640px) {
    .company-presentation {
        &__info {
            min-height: 15px;
            margin: 20px 0;
        }
    }
}