.grid-item {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;

    &__img {
        padding-right: 17px;
    }

    &__info {
        width: 75%;
    }

    &__title {
        margin-top: -10px;
        padding-bottom: 10px;
        font-weight: 500;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #171A27;
    }

    &__text {
        font-size: 14px;
        line-height: 21px;
        color: #171A27;
        text-align: justify;
    }
}

.grid-item-type2 {
    flex-basis: 50%;
}

.grid-item-type3 {
    flex-basis: 32%;
}

.grid-icon {
    width: 64px;
    height: 64px;
}

@media only screen and (max-width: 640px) {
    .grid-item {
        &-type2 {
            flex-basis: 100%;
    
            .grid-icon {
                width: 45px;
                height: 45px;
            }
            
            .grid-item__title {
                font-size: 16px;
            }

            .grid-item__text {
                font-size: 14px;
            }
        }

        &-type3 {
            flex-basis: 50%;
            display: flex;
            flex-direction: column;
            text-align: center;

            .grid-icon {
                width: 70px;
                height: 70px;
            }
    
            .grid-item__text {
                display: none;
            }

            .grid-item__title {
                font-size: 14px;
            }
    
            .grid-item__info {
                width: 100%;
            }
        }
    }
}