@import "./../../variables.scss";

.constructor {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  &-hidden {
    max-height: 0;
  }
  &-main {
    display: flex;
    @media screen and (max-width: $desktop-breakpoint) {
      flex-direction: column;
      align-items: center;
    }
  }
}
.selected-house-data {
  display: flex;
  flex: 0 0 630px;
  margin-right: 60px;
  flex-direction: column;
  @media screen and (max-width: $desktop-breakpoint) {
    margin-right: 0;
    flex: unset;
    width: 100%;
  }
  .selected-house-values {
    .house-type {
      &-name {
        font-weight: bold;
        font-size: 27px;
        @media screen and (max-width: $desktop-breakpoint) {
          font-size: 18px;
        }
      }
      &-code {
        color: rgb(102, 102, 102);
      }
    }
    .price {
      width: 180px;
      display: flex;
      justify-content: space-between;
      font-weight: bold;
      &-text,
      &-value {
        font-size: 27px;
      }
    }
    &-1,
    &-2 {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      .extra-info {
        display: flex;
        align-items: center;
        &-icon {
          margin: 0 10px;
        }
      }
    }
    &-1 {
      @media screen and (max-width: $desktop-breakpoint) {
        display: none;
      }
    }
  }
}

.settings-block {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  max-width: 50%;
  @media screen and (max-width: $desktop-breakpoint) {
    margin-top: 20px;
    max-width: unset;
    width: 100%;
    text-align: center;
  }
  .colorgroup-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media screen and (max-width: $desktop-breakpoint) {
      display: block;
    }
  }
}

.house-type-code__mobile {
  display: none;
  margin: 20px 0 10px 0;
  @media screen and (max-width: $desktop-breakpoint) {
    display: block;
  }
}
.house-price__mobile {
  display: none;
  font-weight: bold;
  font-size: 18px;
  @media screen and (max-width: $desktop-breakpoint) {
    display: block;
  }
}

.actions-block {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: $desktop-breakpoint) {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
}

.house-description {
  &-title {
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 25px;
    @media screen and (max-width: $desktop-breakpoint) {
      display: none;
    }
  }
  @media screen and (max-width: $desktop-breakpoint) {
    display: none;
  }
}

.terrace-setting {
  display: flex;
  @media screen and (max-width: $desktop-breakpoint) {
    justify-content: center;
  }
}

.action-button-constructor {
  margin-bottom: 10px;
}

.house-main-props {
  margin-bottom: 80px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  &-icon {
    width: 80px;
    height: 80px;
    margin: 5px;
    border: 5px solid #ff9781;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    &-number {
      width: 15px;
      font-size: 27px;
      margin-right: 3px;
    }
  }
  @media screen and (max-width: $desktop-breakpoint) {
    display: none;
  }
}

.confirm-house-modal {
  padding: 30px 60px;
  width: 100%;
  @media screen and (max-width: 460px) {
    padding: 15px;
  }
  &__title {
    color: #254a93;
    font-size: 27px;
    font-weight: normal;
    margin-bottom: 20px;
  }
  &__main-data {
    display: flex;
    @media screen and (max-width: $desktop-breakpoint) {
      flex-direction: column;
    }
  }
  &__description {
    margin-left: 80px;
    @media screen and (max-width: $desktop-breakpoint) {
      margin-left: unset;
      max-width: 400px;
      margin: 0 auto;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__selected-options {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 0;
    @media screen and (max-width: $desktop-breakpoint) {
      flex-direction: column;
    }
  }
  &__option {
    padding: 0 5px 20px 0;
    @media screen and (max-width: $desktop-breakpoint) {
      display: flex;
      justify-content: space-between;
    }
    &-dash {
      @media screen and (max-width: $desktop-breakpoint) {
        display: none;
      }
    }
  }
  &__instruction {
    line-height: 27px;
    padding: 15px 0;
  }
  &__option-value {
    color: #254a93;
    text-transform: uppercase;
    font-weight: bold;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    @media screen and (max-width: $desktop-breakpoint) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__price {
    padding: 10px 40px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 27px;
    background-color: #edf3f8;
    @media screen and (max-width: $desktop-breakpoint) {
      width: 100%;
      text-align: center;
      margin-bottom: 40px;
    }
    &-container {
      @media screen and (max-width: $desktop-breakpoint) {
        width: 100%;
      }
    }
    &-label {
      @media screen and (max-width: $desktop-breakpoint) {
        text-align: center;
      }
    }
  }
  &__note {
    color: grey;
    font-size: 14px;
    margin-top: 30px;
    @media screen and (max-width: $desktop-breakpoint) {
      display: none;
    }
  }
  &__devider {
    @media screen and (max-width: $desktop-breakpoint) {
      display: none;
    }
  }
}
