@import './../../variables.scss';

.cv-from {

    margin-top: 160px;
    margin-bottom: 160px;

    .container {


        .cv-form-wrapper {
            position: relative;

            .cv-form-content-wrapper {
                position: relative;
                z-index: 10;


                h2 {
                    padding-top: 50px;
                    margin-bottom: 50px;
                    text-transform: uppercase;
                }

                .cv-form-form-wrapper {
                    display: flex;

                    .modal-form-wrapper {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: flex-start;
                        width: 675px;
                        height: 410px;
                        position: absolute;
                        right: 0;
                        padding: 25px;
                        padding-top: 50px;
                        padding-bottom: 50px;
                        background-color: #fff;
                        z-index: 100;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
                        
                        h3 {
                            font-size: 32px;
                        }
                        p {
                            font-size: 18px;
                        }
                        p, h3 {
                            text-transform: uppercase;
                        }
                    }

                    form {
                        margin-left: 40px;
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: row;
                        justify-content: flex-end;
                        input {
                            border: 1px solid rgba(255,255,255, 1);
                            transition: all .2s ease;
                            font-size: 24px;
                            font-weight: 100;
                            padding: 10px;
                            margin: 10px;
                            color: rgba(6, 18, 41, 0.61);
                            transition: all .2s ease;
                            -webkit-text-fill-color: #000;
                        }
                        input:hover {
                            border: 1px solid $hover-color;
                        }
                        input:focus {
                            border: 1px solid $hover-color;
                        }
                        input:valid {
                            background-color: #fff;
                        }

                        textarea {
                            width: 100%;
                            height: 100px;
                            font-size: 24px;
                            font-weight: 100;
                            padding: 10px;
                            margin: 10px;
                            border: 1px solid rgba(255, 255, 255, 1);
                            resize: none;
                            transition: all .2s ease;
                            color: rgba(6, 18, 41, 0.61)
                        }
                        textarea:hover {
                            border: 1px solid $hover-color;
                        }
                        textarea:focus {
                            border: 1px solid $hover-color;
                        }

                        button {
                            justify-items: flex-end;
                            margin-right: 10px;
                        }

                        input[type="file"] {
                            display: none;

                        }

                        .custom-file-upload {
                            position: relative;
                            width: 150px;
                            margin-top: 10px;
                            margin-right: 10px;
                            margin-bottom: 10px;
                            padding-top: 20px;
                            background-color: #E0E3F4;
                            font-weight: 100;
                            text-align: center;
                            cursor: pointer;
                            transition: all .2s ease;
                        }
                        .custom-file-upload:hover {
                            background-color: $hover-color;
                        }
                        .custom-file-upload:before {
                            content: "Upload your CV";
                            position: absolute;
                            font-size: 24px;
                            text-align: left;
                            right: 150px;
                            bottom: 0;
                            width: 268px;
                            padding-top: 20px;
                            padding-bottom: 20px;
                            padding-left: 10px;
                            background-color: #fff;
                            border: 1px solid #fff;
                            transition: all .2s ease;
                        }
                        .custom-file-upload:hover:before {
                            border: 1px solid $hover-color;
                        }

                    }
                }
            }
        }


        .cv-form-background {
            position: absolute;
            width: 80%;
            height: 100%;
            top: 0;
            right: -80px;
            padding-bottom: 50px;
            background-color: $primary-background-color;
            z-index: 0;
            box-sizing: content-box;
        }
    }
}