// @media (max-width: 1341px) {
//     .cv-from {
//         .container {
//             .cv-form-wrapper {
//             }
//         }
//     }
// }


@media (max-width: 1280px) {

    .cv-from {
        margin-top: 80px;
        margin-bottom: 80px;
        .container {
            .cv-form-wrapper {
                .cv-form-content-wrapper {
                    h2 {
                        font-size: 18px;
                    }
                    .cv-form-form-wrapper {
                        flex-direction: column;
                        align-items: center;
                        .image-wrapper{ 
                            overflow: hidden;
                            width: 100vw;
                            max-height: 400px;
                            margin-left: -10px;
                            margin-right: 0px;
                            img {
                                min-width: 100%;
                                min-height: 100%;
                            }
                        }
                        form {
                            width: 100%;
                            flex-direction: column;
                            margin-left: 0;
                            margin-top: 125px;
                            align-items: center;
                            input {
                                height: 70px;
                                margin-left: 0;
                                margin-right: 299px;
                                margin-top: 0px;
                                margin-bottom: 40px;
                            }
                            .form-input-text {
                                    width: 100%;
                                }
                            .form-input-text {
                                width: 100%;
                            }
                            .form-input-email {
                                width: 100%;
                            }
                            .form-input-tel {
                                width: 100%;
                            }
                            .form-input-file {
                                width: 100%;
                                margin-left: auto;
                            }
                            textarea {
                                margin-left: 0;
                                margin-right: 0;
                                margin-bottom: 50px;
                                width: 100%;
                                margin-bottom: 40px;
                                margin-right: 299px;
                            }
                            button {
                                width: 100%;
                                transform: translateX(-140px);
                                font-size: 13px;
                            }
                            .custom-file-upload {
                                position: relative;
                                left: 0;
                                padding-top: 20px;
                                padding-bottom: 20px;
                                margin-top: 0;
                                margin-bottom: 40px;
                                align-self: flex-end;
                                width: 20%;
                                transform: translateX(-289px);
                            }
                            .custom-file-upload:before {
                                padding-bottom: 19px;
                                padding-top: 19px;
                                width: 386%;
                                right: 100%
                            }
                        }
                    }
                }
            }
        }
    }
    .cv-form-background {
        width: 100%;
        height: 690px;
        right: 0;
        left: 0;
        margin-top: 615px;
        padding-bottom: 30px;
        // margin-left: -20px;
        // margin-right: 20px;
    }
}