@media (max-width: 980px) {
  header {
    .logo {
      margin-left: 20px;
    }

    .menu-list {
      display: none;
    }
    .login-lang-items {
      display: none;
    }
    .burger-menu {
      display: block;
      margin-right: 20px;
    }
  }

  //временное мобайл меню >>>>>>>>>
  .menu-list-mobile.active {
    display: block;
    position: fixed;   
    right: 0;
    top: 100px;
    background-color: white;
    z-index: 2000;
    box-shadow: 0 5px 2px 2px rgba(0, 0, 0, 0.123);
    li {
      padding: 20px;
      a {
        display: inline-block;
        width: 100%;
        text-transform: uppercase;
        color: black;
        text-align: right;
      }
    }
  }
  // временное мобайл меню <<<<<<<<
}

@media (max-width: 1279px) {
  header {
    .menu-list {
      li {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
}
