@media (max-width: 980px) {
  header {
    height: 80px;
    .logo {
      margin-left: 20px;
    }
    &.active {
      background-color: #254a93;
      .logo a {
        color: white;
      }
      .menu-list {
        display: flex;
      }
    }

    .menu-list {
      display: none;
      background-color: #254a93;
      padding-bottom: 20px;
      position: absolute;
      flex-direction: column;
      align-items: center;
      width: 100%;
      top: 80px;
      li {
        margin-bottom: 15px;
        a {
          color: white;
          text-transform: capitalize;
        }
      }
    }
    .login-lang-items {
      display: none;
    }
    .burger-menu {
      display: block;
      margin-right: 20px;
    }
  }
}

@media (max-width: 1279px) {
  header {
    .menu-list {
      li {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
}
