footer {
    min-height: 100px;
    color: #171A27;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    .logo {
        a {
            font-family: Montserrat;
            font-style: normal;
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
            color: #171A27;
            margin-bottom: 35px;
        }
        .description {
            font-size: 14px;
            margin-top: 12px;
            font-weight: 500;
        }
    }

    .links-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 60px;
        .logo-wrapper {
            flex-basis: 300px;
        }

        .links-section {
            display: flex;
            flex-direction: column;
            padding-left: 10px;
            padding-right: 10px;
            a {
                font-size: 14px;
                color: #171A27;
                line-height: 35px;
                font-weight: 500;
            }
            .title-links {
                font-size: 16px;
                font-weight: bold;
                text-transform: uppercase;
            }
        }

        .social-list {
            li {
            display: inline;
            margin-left: 6px;
            margin-right: 6px;
            }
        }
    }

    .credentials-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .credentials-text {
            font-size: 14px;
            line-height: 30px;
            font-weight: 500;
        }
        .credentials-links {
            display: flex;
            justify-content: center;
            a {
                color: #171A27;
                font-size: 14px;
                font-weight: bold;
                text-decoration: underline;
                text-transform: uppercase;
                line-height: 30px;
            }

            .separator {
                background-color: #171A27;
                width: 1px;
                height: 20px;
                transform: (translate(0, 5px));
                margin-left: 20px;
                margin-right: 20px;
            }
        }
    }
}

