@media (max-width: 980px) {
    footer {
        padding-top: 30px;
        padding-bottom: 30px;
        .links-wrapper {
            display: none;
            align-items: center;
        }
        .credentials-wrapper {
            align-items: center;
            .credentials-text {
                width: 240px;
                text-align: center;
                line-height: 25px;
                margin-bottom: 20px;
            }
        }

    }
}