.subscribe-form {

    height: 63px;
    width: 800px;
    display: flex;

    &__email {
        outline: none;
        flex: 1 1 auto;
        text-indent: 20px;
        color: rgba(0, 0, 0, 0.61);
    }
}