@import './../../variables.scss';

.slider-with-bg {
    margin: 110px auto;
    position: relative;

  &__bg-layer {
    width: 314px;
    height: 430px;
    align-self: center;
    position: relative;
    background-repeat: no-repeat;
  }

  &__bg-layer:first-of-type {
    background-position: left;
  }

  &__bg-layer:last-of-type {
    background-size: 113% 100%;
    background-position: center;
  }

  &__slider {
    max-width: 1440px;
    margin: 65px auto;
    display: flex;
  }

  &__slider-img {
    display: none;
  }
  &__slider-img1 {
    display: none;
  }

  &__title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 42px;
    color: #061229; 
  }

  &__slider-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #171A27;
  }

  &__slider-text {
    padding-top: 35px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #171A27;
  }

  &__slider-info {
    width: 90%;
    display: flex;
  }

  &__slider-info__col1 {
    width: 80%;
    display: flex;
    align-items: center;
  }

  button {
    background: transparent;
    color: #fff;

     & svg {
       width: 80px;
       height: 80px;
     }
  }

  & .swiper-prev {
    position: absolute;
    top: 40%;
    right: 10%;
  }

  & .swiper-next {
    position: absolute;
    top: 40%;
    left: 10%;
  }



  //Override Swiper styles ---start
  & .swiper-pagination-bullet-active {
    background: $secondary-color;
  }

  & .swiper-pagination-bullets {
    bottom: -50px !important;
  }

  & .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
  }

  & .swiper-container {
    width: 810px;
    position: static;
    background: #FFFFFF;
    margin: 0;
    box-shadow: 0px 4px 18px rgba(23, 26, 39, 0.62);
    -webkit-box-shadow: 0px 4px 18px rgba(23, 26, 39, 0.62);
    -moz-box-shadow: 0px 4px 18px rgba(23, 26, 39, 0.62);
  }

  & .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 65px 55px;
  }
  //Override Swiper styles ---end
}
@media only screen and (max-width: $desktop-breakpoint) {
  .slider-with-bg {
    margin: 70px auto;
    &__title {
      font-size: 22px;
      line-height: 27px;
    }

    &__slider-title {
      font-size: 20px;
    }

    &__slider-text {
      font-size: 14px;
    }
  }
}

@media only screen and (max-width: 979px) {
  .slider-with-bg {
    &__bg-layer {
      width: 20%;
      max-width: 200px;
      min-width: 80px;
      height: 430px;
      background-size: cover !important;
    }

    & .swiper-slide {
      padding: 40px 20px;
    }

    button {
       & svg {
         width: 60px;
         height: 60px;
       }
    }
  }
}

@media only screen and (max-width: 640px) {
  .slider-with-bg {
    background: linear-gradient(to bottom, rgba(189, 212, 231, 0.28), rgba(189, 212, 231, 0.28) 90%, transparent 0%, transparent 100%);
    background-size: 80% 100%;
    background-position: right top;
    background-repeat: no-repeat;

    & .swiper-container {
      width: 70%;
      margin: 0 auto;
    }

    & .swiper-pagination-bullet {
      width: 15px;
      height: 15px;
      margin: 0 8px !important;
    }

    & .swiper-slide {
      padding: 0;
      box-shadow: 0px 0px 13px 0px rgba(23, 26, 39, 0.58);
      -webkit-box-shadow: 0px 0px 13px 0px rgba(23, 26, 39, 0.58);
      -moz-box-shadow: 0px 0px 13px 0px rgba(23, 26, 39, 0.58);
    }

    &__title {
      padding-top: 20px;
      font-size: 18px;
      line-height: 24px;
    }

    &__slider-img {
      display: block;
      width: 100%;

      & img {
        width: 100%;
        height: auto;
      }
    }

    &__slider-info {
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
    }

    &__slider-title {
      padding-bottom: 20px;
      padding-top: 10px;
      font-size: 18px;
      line-height: 27px;
    }

    &__slider-info__col1 {
      display: none;
    }

    &__slider-info__col2 {
      display: flex;
      justify-content: space-evenly;
    }

    &__slider-text {
      padding: 20px;
      font-size: 14px;
      line-height: 21px;
      order: 2;
    }

    &__bg-layer {
      display: none;
    }

    button {
      display: none;
    }
  }
}