@import "./../../variables.scss";

.constructor-options {
  display: block;
  margin-bottom: 30px;
  .title {
    text-transform: uppercase;
    margin-bottom: 10px;
  }
}

.options-wrapper {
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: $desktop-breakpoint) {
    justify-content: center;
  }
}

.constructor-option {
  background-color: white;
  border: 1px solid #254A93;
  padding: 14px 27px;
  margin-right: 15px;
  margin-bottom: 15px;
  &:hover {
    cursor: pointer;
  }
  &.active-option {
    background-color: #254A93;
    color: white;
  }
}