@import "../../../variables.scss";

.indicator {
    position: absolute;
    top: 140px;
    left: 271px;
    z-index: -1;

    &__base-shadow {
        position: absolute;
        border-radius: 50%;
        width: 270px;
        height: 270px;
        box-shadow: inset 6px 4px 10px rgba(0, 0, 0, 0.25);
        z-index: 1;
    }
    
    &__base-outer {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 50%;
        width: 270px;
        height: 270px;
        background: #ED7161;
        box-shadow: inset 6px 4px 10px rgba(0, 0, 0, 0.25);
    }

    &__base-inner {
        width: 162px;
        height: 162px;
        border-radius: 50%;
        border: 1px solid rgba(51, 51, 51, 0.6);
        background: linear-gradient(125.82deg, rgba(255, 255, 255, 0.95) 27.23%, rgba(207, 233, 255, 0.95) 85.17%);
        box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.25);
        text-align: center;
        color: #000;
        font-weight: 600;
        line-height: 157px;
        font-size: 32px;
        z-index: 10;

        span {
            position: absolute;
            top: 125px;
            left: 100px;
            font-weight: 600;
            font-size: 32px;
            line-height: 27px;
            z-index: 10;
        }
    }

    &__base-dark {
        content: " ";
        position: absolute;
        width: 155px;
        height: 155px;
        border-radius: 50%;
        background: #000000;
        filter: blur(8px);
        z-index: 1;
    }

    &__base-inner::after {
        content: " ";
        position: absolute;
        top: 60px;
        left: 60px;
        width: 145px;
        height: 145px;
        border-radius: 50%;
        background: linear-gradient(28.95deg, rgba(218, 239, 255, 0.7) 20.2%, rgba(255, 255, 255, 0) 96.13%);
        filter: blur(3px);
    }

    &__progress-layer {
        position: absolute;
        // top: -11px;
        // left: -11px;
        transform: rotate(-90deg) rotateX(180deg);
    }
}

@media only screen and (max-width: 640px) {
    .indicator {
        position: static;
        margin: 0;
        color: #171A27;
        text-transform: uppercase;
    
        &__cycle {
            position: relative;
            width: 86px;
            height: 86px;
            border-radius: 50%;
            border: 4px solid rgba(6, 18, 41, 0.35);
            background-color: transparent;
            text-align: center;
            line-height: 82px;
            font-family: Montserrat;
            font-weight: 500;
            font-size: 18px;
        }
    
        &__color-layer {
            position: absolute;
            top: -11px;
            left: -11px;
            transform: rotate(-90deg) rotateX(180deg);
            // transform-origin: 50% 50%;
        }
    
        &__title {
            padding-top: 10px;
            font-family: Montserrat;
            font-size: 14px;
            line-height: 17px;
        }
    }
}