@media (max-width: 640px) {
    * {
        font-size: 14px;
    }
    
    section {
        margin: 70px 0;
    }

    .container {
        width: 100%;
        min-width: 320px;
        padding: 0 20px;
    }
}