@import "../../../variables.scss";

.styled-list-item {
  display: flex;
  &__icon {
    display: flex;
    align-items: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 20px;
  }
  &__title {
    text-transform: uppercase;
    font-weight: bold;
  }
}

@media only screen and (max-width: $desktop-breakpoint) {
  .styled-list-item {
    &__icon {
      margin-right: 10px;
    }
    &__title {
      font-size: 18px;
    }
    &__text-container p {
      font-size: 14px;
    }
  }
}
