@import "./../../variables.scss";

.video-container {
  position: relative;
  max-height: 700px;
  height: 390px;
  z-index: 100;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;

  .video-loader {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: black;
    // width: 700px;
    min-width: 100%;
    height: 390px;
  }
  // Code for loader icon taken from https://loading.io/css/ >>>>>
  .lds-ring {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  // Code for loader icon taken from https://loading.io/css/ <<<<<<
}

.play-video-button {
  position: absolute;
  width: 112px;
  height: 112px;
  border-radius: 50%;
  background-color: $primary-color;
  transition: background-color 200ms;
  &:hover {
    background-color: $hover-color;
    cursor: pointer;
  }
  .play-icon {
    display: block;
    width: 60px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media only screen and (max-width: 640px) {
  .video-container {
    height: 50vw;
    .play-video-button {
      width: 15vw;
      height: 15vw;
      .play-icon {
        display: block;
        width: 7vw;
      }
    }
  }
}
